name: engenious Build

on:
  push:
    branches:
      - master
      - develop
jobs:
  build:
    env:
        FrameworkPathOverride: /usr/lib/mono/4.5/
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
    runs-on: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
    - name: Run tests
      run: dotnet test --configuration Release
    - name: Build
      run: dotnet build --configuration Release
    - name: Create Nuget Package
      run: dotnet pack -c Release -o ./artifacts
    - name: Deploy Nuget Package
      run: dotnet nuget push ./artifacts/*.nupkg -k $NUGET_API_KEY -s https://api.nuget.org/v3/index.json
